head,
body,
* {
  padding: 0;
  margin: 0;
  font: 18px arial, sans-serif;
  color: #FFF;
}

body {
  background-image: url("images/pacci_background.png");
  background-color: black;
}

a {
  color: #9999FF;
}

h1,
p {
  margin-bottom: 18px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.center {
  text-align: center;
}

p.button {
  float: left;
  /*clear:both;*/
  padding: 5px;
  border: 1px solid #666;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-right: 5px;
  background-color: #222;
}

p.button:hover {
  cursor: pointer;
  background-color: #22A;
}

p.button:active {
  background-color: #BCCDFF;
  cursor: pointer;
  border: 1px solid #666;
  margin-top: 1px;
  margin-bottom: 17px;
}

.clear {
  clear: both;
}

/* MAIN CONTAINER TAGS */

div#body {
  max-width: 100%;
  padding: 20px 10px 20px 10px;
  padding-left: 40px;
  padding-right: 40px;
}

div.flexContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px 20px;
  margin: auto;
}

div.fullWidth {
  flex-direction: column;
}

div.flexItem {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #444;
  padding: 14px 14px 2px 14px;
  border-radius: 10px;
  max-width: 880px;
  margin: auto;
}

div#footer {
  width: 100%;
  height: 30px;
  margin-top: 60px;
  font: 14px arial, sans-serif;
  color: #CCC;
  text-align: center;
  padding-top: 5px;
  clear: both;
}

/* TAGS FOR YOUTUBE VIDEO */

iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
  max-width: 800px;
}

/* NAVIGATION */

.header {
  background-color: #000;
  margin: auto;
}

.topnav {
  overflow: hidden;
  width: max-content;
  min-width: 320px;
  /*margin: 0px 40px;*/
  margin: auto;
}

.navItem {
  margin: 0;
  padding: 0;
  height: 32px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav .logo {
  padding: 8px 8px 2px 2px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
